button {
  font-family: "Maquette Bold","ars-maquette-web";
  text-align: center;

  @include retina {
    background-color: $ign-blue;
  }

  @include chrome-multiline-ellipsis (2);
}

.btn-secondary {
   border: 1px solid #bababa;
   background-color: #fff;
   border-radius: 25px;
   color: #bababa;
   font-size: 13px;
   line-height: 2.2;
   margin-top: 9px;
   padding:5px 12px;
}

.btn-primary {
   background-color: #bf1313;
   border:none;
   border-radius: 2px;
   color: $ign-white;
   padding: 10px 15px;
   text-transform: uppercase;
   margin:20px;
}


//Button Sizes
.btn-sml {

}

.btn-tiny{

}

.btn-compact{

}


//Button Styles

.btn-hallow{

}

.btn-rounded{

}





//Playhead Styles
.playhead {
  border-radius: 1000px;

}

.playhead-primary {
    background-color: $ign-red;
}

.playhead-secondary {
    border: 2px solid $ign-white;

}

.playhead-lg {

}

.playhead-sml {

}
