$ign-white:         #ffffff;
$ign-lightest-gray: #d7d7d7;
$ign-light-gray:    #b2b2b2;
$ign-gray:          #606366;
$ign-dark-gray:     #333435;
$ign-darkest-gray:  #242424;
$ign-black:         #000000;

$ign-red:           #bf1313;
$ign-legacy-red:    #d3222a;
$ign-blue:          #3888c9;

$ign-modal-bg:      rgba(0,0,0,0.85);
